@import "shared";

@shrunken-size: 40px;

.tamarind-controls {
  position: absolute;
  top: @padding;
  right: @padding;
  bottom: @padding;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.tamarind-controls input {
  width: 100%;
}

.tamarind-controls.is-visible {
  opacity: 1;
}

.tamarind-controls-background {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.66);
  border: solid 1px #000;
  border-radius: @padding;

  height: @shrunken-size;
  width: @shrunken-size;
  overflow: hidden;
  transition: height 0.1s ease-in-out, width 0.1s ease-in-out;

  &:before {
    content: "Inputs";
    position: absolute;
    top: 13px;
    right: 0;
    width: 190px;
  }
}

.is-expanded .tamarind-controls-background {
  width: 200px;
  height: 100%;
}

.tamarind-controls-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  color: @light-color;
  text-decoration: none;
  margin: 0;
  display: block;
  width: @shrunken-size;
  height: @shrunken-size;
  font-size: @shrunken-size * 0.5;
  text-align: center;
  line-height: @shrunken-size;
  border-radius: @padding;
  box-sizing: border-box;


  &:extend(.tamarind-inset-text);

  &:hover {
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
    text-decoration: none;
  }
}

.tamarind-controls-ui {
  position: absolute;
  top: @shrunken-size;
  right: @padding;
  bottom: @padding;
  left: @padding;
  overflow-y: auto;
  overflow-x: hidden;
}

.tamarind-controls-control-name:after {
  content: ":"
}

.tamarind-controls-control {
  position: relative;
  margin: 10px 5px;
  padding-top: 10px;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
}

.tamarind-controls-control-title {
  clear:both;
}

.tamarind-control-image .tamarind-controls-control-title {
  float: left;
  margin-right: 10px;
}